.section {
  width: 800px;
  border: 1px solid #e8e8e8;
}

.title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 40px;
}

.cardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftArrow,
.rightArrow {
  position: absolute;
  font-size: 30px;
  color: #000;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #565151;
  border-radius: 50%;
}

.leftArrow:hover,
.rightArrow:hover {
  cursor: pointer;
}

.leftArrow {
  left: 5px;
}

.rightArrow {
  right: 5px;
}

.leftArrow.disabled {
  cursor: default;
  color: #fff;
  background-color: #565151;
}

.rightArrow.disabled {
  cursor: default;
  color: #fff;
  background-color: #565151;
}

.navigation {
  font-size: 10px;
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 10px;
  color: gray;
}

.emptyCircle,
.fullCircle {
  font-size: 12px;
}

.emptyCircle:hover,
.fullCircle:hover {
  cursor: pointer;
}

.emptyCircle {
  color: #1e1e1e;
}

.fullCircle {
  color: #b224b3;
}
